td {
	width: 228px;
	height: 77px;
	background-color: azure;
	border-style: fill;
}
table {
	table-layout: fixed;
	height: 130px;
}

.playedCards {
	float: left;
	padding-bottom: 17%;
    padding-right: 2%;
    padding-left: 1%;
	margin-top: 40px;
    margin-left: 10px;
}

#playedCard{
    background-color: paleturquoise;
    border-radius: 15px;
}

.card {
	background-color: white;
	width: 70px;
	height: 105px;
	border-radius: 5px;
	padding: 4px;
	font-family: sans-serif;
	font-size: 15px;
	border-style: groove;

}
.spade,.club {
	color: black;
}
.diamond,.heart {
	color: red;
}
.select {
	background-color: rgb(230,230,230);
}
.action {
	font-family: sans-serif;
	font-size: 20px;
}
.playerSelf {
	overflow: scroll;
	font-family: monospace;
	font-size: 20px;
	text-transform: uppercase;
}
.hand {
	float: middle;
	display: inline-block;
    white-space: nowrap;
    background-color: azure;
}
.board {
	margin: auto;
	border-style: groove;
	table-layout: fixed;
}
.oppositePlayer{
/*	padding-left: 40px;
	padding-bottom: 40px;
*/	text-transform: uppercase;;
	width: 170px;
	background-color: cadetblue;
	text-align: center;
	font-family: monospace;
	font-size: 20px;
	height: 170px;
	border-radius: 15px;
	margin-left: 25px;
	position: 100px;
}

.leftPlayer{
	width: 170px;
	height: 170px;
	border-radius: 15px;
	font-size: 20px;
	font-family: monospace;
	font-color : white;
	text-transform: uppercase;;
	text-align: center;
	background-color: cadetblue;
	/*margin-left: 25px;*/
}

.rightPlayer {
	float: right;
	text-transform: uppercase;;
	width: 170px;
	background-color: cadetblue;
	font-family: monospace;
	font-size: 20px;
	text-align: center;
	height: 170px;
	border-radius: 15px;
	margin-left: 25px;

}

.card0 ,.card1 ,.card2, .card3 {
	border-style: groove;
	float: left;
	width: 45px;
	height: 80px;
}

.status {
	font-size: 23px;
    text-decoration: underline;
    text-transform: capitalize;
    /*text-indent: 65px;*/
    text-align: center;
    font-family: monospace;
}
.points{
 	background-color: paleturquoise;
	border-radius: 15px;
	font-family: monospace;
	text-align: center;
	font-size: 15px;
	text-transform: capitalize; 
}

.oppositePlayer .name, .leftPlayer .name, .rightPlayer .name{
	color : white;
}

.gamepage {
	background-color:white;
}

