td {
	border: 2px solid black;
	width: 200px;
	height: 150px;
}
.playedCards div {
	float: left;
}

.card {
	width: 100px;
	height: 140px;
	border-radius: 5px;
	padding: 4px;
	font-family: sans-serif;
	font-size: 20px;
}
.spade,.club {
	color: black;
}
.diamond,.heart {
	color: red;
}
.select {
	background-color: rgb(230,230,230);
}
.action {
	font-family: sans-serif;
	font-size: 20px;
}