.gamepage {
    position: absolute;
    left: 5%;
    margin: auto;
    width: 90%;
    height: 90%;
}

/*---------------------------------------header----------------------------------------*/
h2 {
    position: absolute;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
}

.header {
    margin: 3%;
}

.logo {
    display: inline-block;
    position: absolute;
    margin-top: -4.5%;
    left: 9.5%;
}

.image {
    display: inline-block;
    position: absolute;
    right: 13%;
    cursor: pointer;
    margin: -3.2%;
    margin-top: -2.4%;
}

a {
    text-decoration: none;
}

/*.red_heart_logo{
	color: red;
}*/
/*----------------------------------------button-----------------------------------------------------*/
.action {
    font-family: sans-serif;
    position: absolute;
    left: 47%;
    top: 40%;
    z-index: 1;
}

input {
    color: black;
    font-size: 1.5vw;
    cursor: pointer;
}

/*-----------------------------------------oppositePlayer---------------------------------------------*/
.oppositePlayer {
    position: absolute;
    left: 39%;
    width: 20%;
    height: 20%;
    background-color: cadetblue;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.3vw;
}

.oppositePlayer .name {
    color: azure;
    font-family: sans-serif;
    padding-top: 10%;
    text-transform: uppercase;
}

/*------------------------------------------horizontalPlayer---------------------------------*/
.rightPlayer {
    position: absolute;
    right: 5%;
    top: 28%;
    background-color: cadetblue;
    width: 10%;
    height: 30%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.leftPlayer {
    position: absolute;
    left: 5%;
    top: 28%;
    background-color: cadetblue;
    width: 10%;
    height: 30%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.rightPlayer .name, .leftPlayer .name {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: azure;
    padding-top: 30%;
}

/*------------------------------------------pointTable---------------------------------------*/
.totalPoint {
    background-color: paleturquoise;
    height: 23%;
    width: 19%;
    position: absolute;
    right: 5%;
    border-bottom-left-radius: 30px;
}

.points {
    margin: 2%;
    width: 95%;
    border-collapse: collapse;
}

.points th {
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: normal;
    color: #039;
    border-bottom: 0.2vw solid paleturquoise;
}

.points td {
    font-size: 1.1vw;
    font-family: sans-serif;
    text-transform: capitalize;
    border-top: 0.1vw solid #6678B1;
    padding: 3% 5% 0% 5%;
}

.points td:nth-child(1) {
    width: 70%
}

.points th:nth-child(1) {
    float: left;
}

/*---------------------------------------------cardsPlayedOnBoard-------------------------------------*/

.playedCardsBoard {
    height: 35%;
    width: 40%;
    background-color: paleturquoise;
    position: absolute;
    left: 29%;
    top: 25%;
    border-radius: 50%;
}

.playedCards {
    float: left;
    padding-bottom: 17%;
    padding-left: 10%;
    margin-top: 12%;
    margin-left: 19%;
}

.card0, .card1, .card2, .card3 {
    float: left;
    margin-bottom: 2px;
    width: 3vw;
    height: 20vh;
}

/*------------------------------------------------notificationPanel------------------------------------*/
.status {
    height: 5%;
    width: 30.5%;
    font-family: sans-serif;
    position: absolute;
    top: 60%;
    left: 34.50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.4vw;
    line-height: 220%;
}

/*------------------------------------------playerHand--------------------------------------------------*/
.playerSelf {
    width: 90%;
    height: 31%;
    background-color: paleturquoise;
    position: absolute;
    bottom: 0.5%;
    left: 5%;
}

.playerSelf .name {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0.5%;
    font-size: 1.3vw;
}

.card {
    background-color: white;
    width: 5.48vw;
    height: 17vh;
    border-radius: 5%;
    font-family: sans-serif;
    font-size: 15%;
    border-style: groove;
}

.select {
    background-color: rgb(230, 230, 230);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.spade, .club {
    color: black;
    font-size: 1.3vw;
}

.diamond, .heart {
    color: red;
    font-size: 1.3vw;
}

.hand {
    margin: auto;
}

/*------------------------------------------------dropDown menu------------------------------------------------------*/
.red_heart {
    background-color: white;
    font-size: 2vw;
    color: black;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.dropdown {
    margin-top: -2.8%;
    position: absolute;
    left: 9.5%;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    /*overflow: auto;*/
    min-width: 100%;
    box-shadow: 10px 10px 10px #888888;
}

.dropdown-content a {
    color: black;
    padding: 12% 20%;
    text-decoration: none;
    display: block;
}

.logo_heart {
    color: red;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


