h1{
	text-align: center;
	font-size: 4.5vw;
	margin:auto;
}

.result {
	color: black;
	position:absolute;
	left: 38%;
	top:43%;
	font-size:3.5vw;
}

.red_heart_logo {
	color: red;
}

.image {
	display: inline-block;
	position: absolute;
	right: 13%;
	cursor: pointer;
	margin: -3.5%;
}
